Importando bibliotecas necessárias

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

1. Abrindo o arquivo csv

In [ ]:
df = pd.read_csv('iris.csv')

print(df[:20])

    sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm  \
0               5.1             3.5              1.4             0.2
1               4.9             3.0              1.4             0.2
2               4.7             3.2              1.3             0.2
3               4.6             3.1              1.5             0.2
4               5.0             3.6              1.4             0.2
5               5.4             3.9              1.7             0.4
6               4.6             3.4              1.4             0.3
7               5.0             3.4              1.5             0.2
8               4.4             2.9              1.4             0.2
9               4.9             3.1              1.5             0.1
10              5.4             3.7              1.5             0.2
11              4.8             3.4              1.6             0.2
12              4.8             3.0              1.4             0.1
13              4.3             3.0              1.1             0.1
14              5.8             4.0              1.2             0.2
15              5.7             4.4              1.5             0.4
16              5.4             3.9              1.3             0.4
17              5.1             3.5              1.4             0.3
18              5.7             3.8              1.7             0.3
19              5.1             3.8              1.5             0.3

        species
0   Iris-setosa
1   Iris-setosa
2   Iris-setosa
3   Iris-setosa
4   Iris-setosa
5   Iris-setosa
6   Iris-setosa
7   Iris-setosa
8   Iris-setosa
9   Iris-setosa
10  Iris-setosa
11  Iris-setosa
12  Iris-setosa
13  Iris-setosa
14  Iris-setosa
15  Iris-setosa
16  Iris-setosa
17  Iris-setosa
18  Iris-setosa
19  Iris-setosa

2. Substituindo nomes por números na classificação

In [ ]:
df_alterado = df.replace({'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3})

print(df_alterado[:20])

    sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm  species
0               5.1             3.5              1.4             0.2        1
1               4.9             3.0              1.4             0.2        1
2               4.7             3.2              1.3             0.2        1
3               4.6             3.1              1.5             0.2        1
4               5.0             3.6              1.4             0.2        1
5               5.4             3.9              1.7             0.4        1
6               4.6             3.4              1.4             0.3        1
7               5.0             3.4              1.5             0.2        1
8               4.4             2.9              1.4             0.2        1
9               4.9             3.1              1.5             0.1        1
10              5.4             3.7              1.5             0.2        1
11              4.8             3.4              1.6             0.2        1
12              4.8             3.0              1.4             0.1        1
13              4.3             3.0              1.1             0.1        1
14              5.8             4.0              1.2             0.2        1
15              5.7             4.4              1.5             0.4        1
16              5.4             3.9              1.3             0.4        1
17              5.1             3.5              1.4             0.3        1
18              5.7             3.8              1.7             0.3        1
19              5.1             3.8              1.5             0.3        1

C:\Users\Henrique\AppData\Local\Temp\ipykernel_3008\2869913018.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_alterado = df.replace({'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3})

3. Separando colunas de entrada e saída

In [ ]:
X = df_alterado.drop('species', axis=1)
y = df_alterado['species']

print(X, y)

     sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
0                5.1             3.5              1.4             0.2
1                4.9             3.0              1.4             0.2
2                4.7             3.2              1.3             0.2
3                4.6             3.1              1.5             0.2
4                5.0             3.6              1.4             0.2
..               ...             ...              ...             ...
145              6.7             3.0              5.2             2.3
146              6.3             2.5              5.0             1.9
147              6.5             3.0              5.2             2.0
148              6.2             3.4              5.4             2.3
149              5.9             3.0              5.1             1.8

[150 rows x 4 columns] 0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

4. Fazendo separação de dados em treino e teste, e garantido que esteja embaralhado

In [ ]:
#O argumento shuffle já é setado como true por padrão, e para garantir um padrão no embaralhamento, usaremos seed com o random_state=42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

5. Treinando o modelo

In [ ]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print(y_pred)

[2 1 3 2 2 1 2 3 2 2 3 1 1 1 1 2 3 2 2 3 1 3 1 3 3 3 3 3 1 1]